# Virtual environment
venv/

# Dataset (not uploaded)
data/

# Temporary / unused folders
scripts/
output/
Extra/

# Research files not released yet
utils/predict.py
utils/youtube_comment_predictor.py
utils/model_training.py

# Misc files
command.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db
